.videoItem {
  width: 200px;
  margin-left: 16px;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px;

    &:hover {
      transform: scale(1.1);
      transition: all ease-in-out 0.2s;
    }
  }

  .title {
    margin-top: 12px;
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
