<h2>Search</h2>
<div class="formWrapper">
  <div class="formRow">
    <label for="query">Query</label>
    <input
      id="query"
      type="text"
      [ngModel]="searchQuery()"
      (ngModelChange)="searchQuery.set($event)"
    />
  </div>
  <div class="formRow">
    <button type="button" (click)="handleSubmit()" [disabled]="disabled()">
      Search
    </button>
  </div>
</div>

<div class="results" *ngIf="results$ | async as results">
  <h2>Results ({{ results.length }})</h2>
  <a
    class="result"
    *ngFor="let result of results"
    routerLink="/play/{{ result.id }}"
  >
    <img src="{{ result.thumbnailUrl }}" />
    <p>{{ result.title }}</p>
  </a>
</div>
